# Database
PGHOST='localhost'
PGUSER='postgres'
PGPASSWORD='postgres'
PGDATABASE='ritchy'
PGPORT='5432'

# Database Vector
PGVECTORHOST='localhost'
PGVECTORUSER='postgres'
PGVECTORPASSWORD='postgres'
PGVECTORDATABASE='ritchy'
PGVECTORPORT='5433'

# Redis Authentication
REDISHOST='localhost'
REDISPORT='6379'
REDISUSER='ritchy'
REDISPASSWORD='password'

# RabbitMQ
RABBITMQ_USER='ritchy'
RABBITMQ_HOST='localhost'
RABBITMQ_PASSWORD='password'
RABBITMQ_VHOST='/'
RABBITMQ_PORT='5672'
RABBITMQ_MANAGEMENT_PORT='15672'
