# Database
PGHOST = 'localhost'
PGUSER = 'postgres'
PGPASSWORD = 'postgres'
PGDATABASE = 'ritchy'
PGPORT = '5432'

# Redis Authentication
REDISHOST='localhost'
REDISPORT='6379'
REDISUSER='ritchy'
REDISPASSWORD='password'

# RabbitMQ
RABBITMQ_USER='ritchy'
RABBITMQ_PASSWORD='password'
RABBITMQ_VHOST='/'
RABBITMQ_PORT='5672'
RABBITMQ_MANAGEMENT_PORT='15672'
