## ENVIRONMENT
NODE_ENV='development'

## EXTERNAL
VITE_MAPBOX_ACCESS_TOKEN='example'
VITE_CLERK_PUBLISHABLE_KEY='example'
VITE_STRIPE_PUBLIC_KEY='example'

## API
VITE_API_WEB_BASE_URL='http://localhost:3030/web'

## SENTRY
SENTRY_AUTH_TOKEN=''

## POSTHOG
VITE_POSTHOG_KEY='example'
VITE_POSTHOG_HOST='https://eu.i.posthog.com'

### WEBSOCKET
VITE_WS_BASE_URL="http://localhost:3030"