## EXTERNAL
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
VITE_MAPBOX_ACCESS_TOKEN=your_mapbox_token_here
VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here

## API
VITE_API_WEB_BASE_URL=http://localhost:3030/api_web