.place-popup.mapboxgl-popup .mapboxgl-popup-content {
  border-radius: 0.5rem;
  padding: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.place-popup.mapboxgl-popup .mapboxgl-popup-close-button {
  width: 30px;
  height: 30px;
  margin-top: 0px;
  margin-right: 0px;
}

.mapboxgl-popup {
  z-index: 2;
}

.marker.filtered-marker {
  z-index: 0;
}

.marker.active-marker {
  z-index: 1;
}

/* Ensure map container and its parents don't have unwanted backgrounds */
.mapboxgl-map,
.mapboxgl-canvas-container,
.mapboxgl-canvas {
  background: none !important;
}

/* If there's a specific container for the map */
.map-container {
  background: none;
  overflow: hidden;
}

/* Ensure no borders on map elements */
.mapboxgl-control-container,
.mapboxgl-canvas {
  border: none !important;
}
