# API configuration
PORT = 3000
CORS_ORIGIN = '*'
FRONTEND_BASE_URL = 'http://localhost:5173'

# Database
DB_HOST = 'localhost'
DB_USER = 'user'
DB_PASSWORD = 'password'
DB_NAME = 'db'
DB_PORT = '5430'

## External APIs
GMAP_SEARCH_API_KEY = 'example'
GOOGLE_PLACES_API_KEY = 'example'

# Clerk
CLERK_PUBLISHABLE_KEY = 'example'
CLERK_SECRET_KEY = 'example'
