# API configuration
NODE_ENV = 'development'
PORT = 3030
CORS_ORIGIN = '*'
FRONTEND_BASE_URL = 'http://localhost:5173'

# Database
PGHOST = 'localhost'
PGUSER = 'postgres'
PGPASSWORD = 'postgres'
PGDATABASE = 'ritchy'
PGPORT = '5432'

# Redis Authentication
REDISHOST = 'localhost'
REDISPORT = '6379'
REDISUSER = 'ritchy'
REDISPASSWORD = 'password'

# APIs
## Google
GOOGLE_PLACES_API_KEY = 'to_change'
GOOGLE_GEOCODING_API_KEY = 'to_change'
GOOGLE_PLACES_REFERRER = 'dev.api.ritchy.io'

## Clerk
CLERK_PUBLISHABLE_KEY = 'to_change'
CLERK_SECRET_KEY = 'to_change'
CLERK_WEBHOOK_SECRET = 'to_change'

## Sentry
SENTRY_AUTH_TOKEN = 'to_change'

## Slack
SLACK_BOT_TOKEN = 'to_change'

## Website analyzer
WEBSITE_ANALYZER_URL = "http://localhost:8000"
WEBSITE_ANALYZER_API_KEY = "06HkOCFPKbNwgn1V95PGOkjKWeJLXnn9p1OTwV1FHcVWqKe7o7R2fFZSDNxCMIX9"

## Stripe
### API Keys
STRIPE_SECRET_KEY = 'to_change'
STRIPE_PUBLIC_KEY = 'to_change'
STRIPE_WEBHOOK_SECRET = 'to_change'

### Price IDs
#### Monthly
STRIPE_PRO_MONTHLY_PRICE_ID = "to_change"
STRIPE_EXPLORER_MONTHLY_PRICE_ID = "to_change"
STRIPE_NAVIGATOR_MONTHLY_PRICE_ID = "to_change"
STRIPE_ESSENTIALS_MONTHLY_PRICE_ID = "to_change"

#### Yearly
STRIPE_PRO_YEARLY_PRICE_ID = "to_change"
STRIPE_EXPLORER_YEARLY_PRICE_ID = "to_change"
STRIPE_NAVIGATOR_YEARLY_PRICE_ID = "to_change"
STRIPE_ESSENTIALS_YEARLY_PRICE_ID = "to_change"

### Product IDs 
STRIPE_PRO_PRODUCT_ID = "to_change"
STRIPE_EXPLORER_PRODUCT_ID = "to_change"
STRIPE_NAVIGATOR_PRODUCT_ID = "to_change"
STRIPE_ESSENTIALS_PRODUCT_ID = "to_change"
